html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: teal;
}

.navbar ol {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar ol li {
    padding: 10px;
    color: white;
}

.navbar ol li a {
    text-decoration: none;
    color: inherit;
}

.navbar ol li.active {
    font-weight: bold;
}

.main {
    max-width: 50em;
    margin: 0 auto;
}

h1 {
    padding: 0.5em 0 0 0;
    margin: 0;
    font-size: xx-large;
}

.big-title {
    text-align: center;
}

.columns {
    display: flex;
    justify-content: space-between;
}

.columns section {
    width: 48%;
}

.columns section h2 {
    text-align: center;
}

.columns img {
    max-width: 50%;
    float: left;
    padding: 0 4px 4px 0;
}

.counting-row {
    display: grid;
    grid-template-columns: 1fr repeat(7, max-content);
    align-items: center;
    row-gap: 2px;
}

.counting-row-icon {
    justify-self: center;
}

#videos {
    overflow: auto;
}

.video-description {
    text-align: center;
    overflow: auto;
    max-height: 100%;
    margin: 0;
    padding: 0;
}

.side-MEAT {
    stroke: red;
}

.side-VEGAN {
    stroke: green;
}

.reachable {
    fill: white;
}

.unreachable {
    fill: silver;
}

.seen {
    fill: Gainsboro;
}

.fa-play {
    color: blue;
}

.foreign-video {
    clip-path: url(#video-clip);
}

.video-description-id {
	display: none;
}

.video-front {
    position: fixed;
    width: 90%;
    height: 90%;
    left: 5%;
    top: 5%;
}
