.counting-row {
    display: grid;
    grid-template-columns: 1fr repeat(7, max-content);
}
.counting-row-icon {
    justify-self: center;
}
.videos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.video {
    display: grid;
    grid-template-columns: 100px 200px;
}
